@import '../../theme.scss';

.button {
  width: 328px;
  height: 56px;
  border-radius: 8px;
  color: white;
  position: fixed;
  top: 686px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background: $gray_300;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.clicked {
  background-color: $primary;
  color: #ffffff;
}
