@import '../../theme.scss';

.button {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  color: white;
  background: $gray_300;
  margin-top: 110px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.clicked {
  background-color: $primary;
  color: #ffffff;
}
