@import '../../theme.scss';
.myProject {
  width: 100%;
  min-height: calc(100vh - 62px);
  padding: 0 16px;
  background-color: $gray_100;
}
.myProjectList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 24px;

  & li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 8px);
    height: 126px;
    padding: 0 14px;
    border: 1px solid $gray_300;
    border-radius: 8px;
    background-color: $gray_50;

    & p:first-child {
      width: 25px;
      height: 25px;
      border-radius: 13px;
      padding: 5px 9px;
      background-color: $positive;
      color: #fff;
      @include Caption1;
    }

    & p:last-child {
      @include Subheadline2;
    }
  }
}
