@import '../../theme.scss';

.topnav-container {
  width: 360px;
  height: 58px;
  display: flex;
  align-items: center;
}
.back {
  position: absolute;
}
.titles {
  margin: 0 auto;
  @include Subheadline;
  background-color: white;
}
