.topnav-container {
  width: 360px;
  height: 58px;
  display: flex;
  align-items: center;
}
.back {
  position: absolute;
}
.titles {
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  background-color: white;
}
