.step-container {
  margin-top: 56px;
  margin-bottom: 32px;
}

.step {
  width: 59px;
  height: 26px;
  padding: 6px 10px;
  border-radius: 999px;
  color: #ff570e;
  background: #ffc6a6;
  font-size: 12px;
  font-family: 'Pretendard Variable';
  font-style: 'ExtraBold';
  font-weight: 900;
  display: block;
  text-align: center;
  line-height: normal;
  margin-bottom: 8px;
}

.text {
  font-size: 24px;
  font-family: 'Pretendard Variable';
  font-style: 'SemiBold';
}
