@import './../theme.scss';

.sign-up-container {
  padding: 0 16px;
  width: 360px;
  height: 100%;
  position: relative;
  border: 1px solid black;
}

.inform-box {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.text-container {
  padding-top: 240px;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-size: 24px;
}

.text-container > p {
  font-size: 16px;
  margin-top: 16px;
  color: $gray_900;
  font-weight: 300;
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 2; /* Place the modal above the black background */
}
