@import './../theme.scss';

.bg {
  background-color: $Delay;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.sub-title {
  padding-top: 123px;
  margin-bottom: 7px;
  color: #ff1515;
  font-weight: 800;
}

.character {
  margin-top: 85.48px;
  display: block;
  margin: 85.48px auto 0 auto;
}

.kakao-btn-container {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(159, 56, 56);
  padding: 24px 16px;
  text-align: center;

  .kakao-btn {
    width: 100%;
    max-width: 328px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    border-radius: 8px;
    background: #fae100;
    cursor: pointer;
  }
}
