@import '../../../src/theme.scss';

.topic-bg {
  background-color: $primary;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.topic-title {
  padding-top: 40px;
  padding-bottom: 83px;
}
.select-btn {
  width: 328px;
  height: 56px;
  border-radius: 8px;
  color: $gray_50;
  background: $secondary;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 16px;
}

.image {
  margin-bottom: 85px;
}

.select-btn.clicked {
  background-color: $gray_900;
  color: #ffffff;
}
