@import '../../theme.scss';

.label {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
}

.dropbox {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: 1px solid $gray_300;
  display: flex;
  justify-content: end;
  padding: 16px;
}

.drop-container {
  margin: 8px 0;
}
