@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* 브라우저 기본 폰트 크기 설정 */
}

body {
  font-family: 'Pretendard', sans-serif; /* 기본 폰트 패밀리 설정 */
  line-height: 1.5; /* 기본 줄 간격 설정 */
  color: #333; /* 기본 텍스트 색상 */
  background-color: #fff; /* 기본 배경 색상 */
}

/* 기타 요소 초기화 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; /* 마진 상단 초기화 */
}

ul,
ol {
  list-style: none; /* 리스트 스타일 초기화 */
}

a {
  text-decoration: none; /* 링크 밑줄 초기화 */
  color: inherit; /* 링크 색상 상속 */
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit; /* 폰트 상속 */
}

/* 이미지 드래그 방지 */
img {
  /* user-drag: none; */
  user-select: none;
}

/* 테이블 보더 초기화 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --vh: 100%;
}
