@import '../../../src/theme.scss';

.topic-bg {
  background-color: $orange_700;
  height: 100vh;
  margin: 0;
  padding: 0 16px;

  .image {
    margin: 102 99px;
    text-align: center;
  }
}
.topic-title {
  padding-bottom: 83px;
}

.topic-title > h3 {
  @include Title4;
  color: white;
  padding-top: 40px;
  padding-bottom: 8px;
}

.topic-title > p {
  color: white;
}

.select-btn {
  width: calc(100% - 32px);
  max-width: 578px;
  height: 56px;
  border-radius: 8px;
  color: $gray_50;
  background: $secondary;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 16px;

  &.btn-clicked {
    background: $gray_900;
    color: #ffffff;
  }
}
